<html>
  <head>
    <link rel="icon" href="favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title>{{ .title }}</title>
    <style>
      body { font-family: "Lucida Console", "Courier New", monospace; }
    </style>
  </head>
  <body>
	<b>{{ .label }}</b>
	<pre>
{{ .content }}
	</pre>
  {{ .key }}
  </body>
</html>