<html>
  <head>
    <title>{{ .title }}</title>
    <style>
      body { font-family: "Lucida Console", "Courier New", monospace; }
    </style>
  </head>
  <body>
	<b>{{ .label }}</b>
	<pre>
{{ .content }}
	</pre>
  </body>
</html>